body{
	background: black; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#101024 10%, black 90%); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#101024 10%, black 90%); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#101024 10%, black 90%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#101024 10%, black 90%); /* Standard syntax */
    font-family: 'Roboto', sans-serif ;
}
.rgt{
	float: right;

}
.carousel-inner{
	height: 300px;
}

.main-carousel {
	width: 100%;
}

.main-carousel .carousel-cell:hover img {
	opacity: 0.4;
	transition: opacity .4s;
}

.main-carousel .carousel-cell img {
	width: 100%;
}
.absolute{
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.silver-background{
	background-color: grey;
}
.img-responsive{
	padding-right: 0px;
	padding-left: 0px;
	display: inline;
}
.haha{
	padding: 20px;
}
.bodas{
	color: white;
}
.bodas a{
	color:grey;
}
.caption{
	padding-top: 10px;
}
ul{
	list-style-type: none;
}
ul.footer li{
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 20px;

}
ul.footer li a{
	color: white;
}
.caption{
	color: white;
}
p.hm{
	padding: 15px;
	font-size: 12px
}
h1{
	color: white;
}
h1.judul{
	font-size: 100px;
}
h2{
	color: white;
	font-size: 20px;
}
p{
	color: white;
}
h4{
	font-size: 60px;
	color: white;

}

.navbar {
	margin-bottom: 0;
}
.header {
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: .5em;
}

.header.header__medium {
	font-size: 2em;
	font-weight: 500;
}

.text-white {
	color: whitesmoke!important;
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 50px;
  height: 50px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.main-carousel .carousel-cell {
	height: 450px;
	width: 100%;
}

.main-carousel .caption {
    position: absolute;
    bottom: 4em;
    background: rgba(0,0,0,0.8);
    padding: 2em;
    width: 50%;
    left: 7em;
}
.banner__event.banner__event--image{
	width: 100%;
	border-bottom: 50px;
}
.banner__event.banner__event--caption{
	padding-bottom:;
}
.banner__shop--image{
	margin-top: 20px;
}
.box__product{
	margin-top: 3em;
}
.title__product{
	font-size: 3em;
	color: white;
}
.title__product--related{
	font-size: 3em;
	color: white;
	text-align: center;
}
.detail__product{
	margin-top: 3em;
}

.navbar-brand img.logo {
	height: 15px;
}